general:
  buildTool: pythonBuild
  buildToolVersion: "3.11"

stages:
  deploy:
    type: cfDeploy
    apiEndpoint: "https://api.cf.us10-001.hana.ondemand.com"
    org: "ec4edb2ctrial"
    space: "dev"
    appName: "fastapi-btp-app"
    credentialsId: "sapcreds"
