general:
  buildTool: "docker"

stages:
  build:
    type: dockerBuild
    dockerfilePath: "./Dockerfile"
    imageName: "harish496/fastapi-btp-app"
    tag: "latest"
    registry:
      url: "https://index.docker.io/v1/"
      credentialsId: "dockerhub"

  deploy:
    type: cfDeploy
    apiEndpoint: "https://api.cf.us10-001.hana.ondemand.com"
    org: "ec4edb2ctrial"
    space: "dev"
    appName: "fastapi-btp-app"
    credentialsId: "sapcreds"
