stages:
  build:
    type: shell
    commands:
      - echo "Skipping build stage because we use a public Docker image"

  deploy:
    type: cfDeploy
    apiEndpoint: "https://api.cf.us10-001.hana.ondemand.com"
    org: "ec4edb2ctrial"
    space: "dev"
    appName: "fastapi-btp-app"
    credentialsId: "sapcreds"
