general:
  buildTool: mta
  buildToolVersion: "MBTJ11N18"

stages:
  build:
    type: mtaBuild

  deploy:
    type: cloudFoundryDeploy
    cfApiEndpoint: "https://api.cf.us10-001.hana.ondemand.com"
    cfOrg: "ec4edb2ctrial"
    cfSpace: "dev"
    cfAppName: "fastapi-btp-app"
    credentialsId: "sapcreds"
